<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%; width: 100%;">
    <ion-row>
      <ion-col size="12" size-sm="9" size-md="6">
        <ion-card>
          <!-- TITULO -->
          <ion-card-header>
            <ion-card-title class="ion-text-center"><h1>INICIAR SESIÓN</h1></ion-card-title>
          </ion-card-header>
  
          <!-- FORMULARIO DE REGISTRO -->
          <form [formGroup]="form">
            <!-- EMAIL -->
            <ion-item
              lines="none"
              class="ion-margin-horizontal ion-margin-top"
            >       
              <ion-button slot="start" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
              </ion-button>
      
              <ion-input 
                labelPlacement="floating" 
                type="email" formControlName="email" 
                placeholder="Ingrese su email" 
                [errorText]="form.get('email')!.hasError('email') ? 'Ingrese un email valido' : 'Ingrese un email valido'"
              >
                <div slot="label">Email <ion-text color="danger">*</ion-text></div>
              </ion-input>
      
            </ion-item>
      
            <!-- PASSWORD -->
            <ion-item class="ion-margin" lines="none">
              <ion-button slot="start" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="key-outline"></ion-icon>
              </ion-button>
      
              <ion-input
                labelPlacement="floating"
                [type]="isPwd ? 'text' : 'password'" 
                placeholder="Ingrese su contraseña"
                formControlName="password"
                [errorText]="form.get('password')!.hasError('minlength') ? 'La contraseña debe tener al menos 6 caracteres' : 'La contraseña debe tener al menos 6 caracteres'"
              >
                <div slot="label">Contraseña<ion-text color="danger">*</ion-text></div>
              </ion-input>
      
              <ion-button slot="end" fill="clear" color="medium" (click)="togglePwd()">
                <ion-icon slot="icon-only" [name]="isPwd ? 'eye-off-outline': 'eye-outline'"></ion-icon>
              </ion-button>
            </ion-item>
      
            <!-- SEND BUTTON -->
            <ion-item class="ion-margin" id="submit-item" lines="none">
              <button (click)="Submit()" expand="block" size="" id="submit">Iniciar sesión</button>
            </ion-item>
            <ion-text id="error-message">{{ errorMessage }}</ion-text>
          </form>
          <!-- TODO: cambiar diseño del login para coincidir con el signup -->

          <div id="signup">
            <p>¿No tenés cuenta?</p>
            <button routerLink="/signup" routerLinkActive="active-route">Crear cuenta</button>
    
            <p>Ó</p>
            <!-- <button id="shortcut" (click)="Autocompletar()">Usar credencial automática</button> -->
            <button id="shortcut">Usar credencial automática</button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
