ion-grid{
    height: 100%;
    width: 100%;
    display: flex;
}
ion-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
ion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    width: 100%;
    height: 100%;
    margin: 0;
}

ion-card-header{
    display: flex;
    justify-content: center;
    align-items: center;

    ion-card-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    
        h1{
            font-family: 'Handjet-Regular';
            font-size: 2.2em;
            margin: 0;
        }
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-item{
    width: 95%;
    margin: 15px 5px;
    border-radius: 10px;
}
#submit-item{
    display: flex;

    --background: rgba(255, 0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
}
#error-message{
    color: rgb(255, 109, 109);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    height: 1.2em;
    background-color: white;
}
#submit {
    margin: 10px 0 10px 0;
    padding: 0px;
    font-size: 1.8em;
    width: 100%;
    font-family: 'Handjet-Bold';
    padding: 10px 0;
    color: black;
    border-radius: 10px;
    background-color: var(--primary-color);
}


#signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    
    p{
        text-align: center;
        font-size: 1.2em;
        color: var(--light-text);
        margin-bottom: 8px;
    }

    button{
        padding: 5px 2px;
        width: auto;
        border: none;
        color: var(--primary-color);
        font-weight: bold;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);

    }
}